[submodule "components/HttpServer"]
	path = components/HttpServer
	url = https://github.com/atanisoft/HttpServer.git
[submodule "components/OpenMRNIDF"]
	path = components/OpenMRNIDF
	url = https://github.com/atanisoft/OpenMRNIDF.git
