[submodule "components/HttpServer"]
	path = components/HttpServer
	url = git@github.com:atanisoft/HttpServer.git
[submodule "components/OpenMRNLite"]
	path = components/OpenMRNLite
	url = git@github.com:atanisoft/OpenMRNIDF.git
[submodule "components/esp_littlefs"]
	path = components/esp_littlefs
	url = https://github.com/joltwallet/esp_littlefs.git
